@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('../assets/fonts/IRANSansXFaNum-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('../assets/fonts/IRANSansXFaNum-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('../assets/fonts/IRANSansXFaNum-DemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'IRANSansXFaNum';
  src: url('../assets/fonts/IRANSansXFaNum-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
